@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html{
    overflow: overlay;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
header{
    background-color: #ffffff;
    height: 15vh;
    width: 100vw;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw;
    z-index: 1000000;
    box-shadow: 0px 10px 50px #dcdcdc;
}
.header-brand{
    height: 70%;
    width: auto;
    max-width: 30vw;
    object-fit: cover;
}
.header-brand img{
    height: 100%;
    width: 100%;
}
header nav{
    display: flex;
    max-width: 40vw;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
nav a{
    position: relative;
    text-decoration: none !important;
    font-size: 16px;
    color: rgb(92, 121, 240);
    padding: 20px 5px;
    margin: 2px;
}
nav a:hover{
    font-weight: bold;
    color: rgb(30, 71, 236);
    
}
nav a.active{
    font-weight: bold;
}
nav a::before{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #ff17c9;
    position: absolute;
    left: 0%;
    bottom: 20px;
    transition: all 0.7s;
}
nav a:hover::before{
    width: 100%;

}
nav a ul{
    /* height: 0px; */
    position: absolute;
    top: 100%;;
    left: 10px;
    background-color: #fff;
    z-index: 20000;
    padding: 20px 30px 10px;
    border-radius: 10px;
    transition: all 1s;
    box-shadow: 0px 2px 5px #b6c6f8;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}
nav a:hover ul{
    opacity: 1;
    transform: translate(0,0);
    pointer-events: auto;
}
nav a ul li{
    list-style: none;
    padding: 10px 2px;
    font-weight: normal;
    width: 150px;
    position: relative;
}
nav li:hover{
    font-weight: bold;
}
nav li::before{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #ff17c9;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transition: all 0.7s;
}
nav li::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #ff17c9;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transition: all 0.7s;
}
nav li:hover::after{
    width: 50%;
}
nav li:hover::before{
    width: 50%;
    left:0%
}

.banner{
    width: 100vw;
    height: auto;
    margin: 10vh auto 30vh;
    padding: 0;
}

#about{
    width: 100vw;
    height: 80vh;
    background-color: #f9f9f9;
    margin: 20vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img{
    width: 50%;
    height: 100%;
    display: inline-block;
    padding: 0;
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-data{
    width: 50%;
    height: 100%;
    background-color: #e0e0c4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 4% 8%;
}
.about-data h3{
    font-weight: bold;
    word-spacing: 1px;
    color: rgb(36, 36, 233);
    border-bottom: 4px solid #f00fa9;
    padding: 0 2px;
}
.about-data p{
    font-size: 16px;
    font-weight: normal;
    word-spacing: 2px;
    line-height: 25px;
    color: #000;
    text-align: justify;
}
.about-contact{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-content: center;
}
.about-contact span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f40c97;
    margin-right: 10px;
}

#latest-news{
    width: 100vw;
    height: 80vh;
    background-color: #1c448e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 4% 8% ;
    margin:20vh auto;
}
#latest-news h3{
    width: auto;
    font-weight: bold;
    word-spacing: 1px;
    color: #74eaff;
    border-bottom: 4px solid #f00fa9;
    padding: 0 2px;
}
#latest-news ul{
    width: 100%;
    height: 80%;
    padding-left:18px;
}
#latest-news li{
    width: 100%;
    color: #fff;
    padding: 10px 0;
    margin:auto;
    line-height: 25px;
    word-spacing: 2px;
    text-align: justify;
}

footer{
    width: 100vw;
    height: 90vh;
    background-color: #ebfdff;
    margin: 20vh auto 0;
    display: grid !important;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    justify-content: space-between;
    align-items: start;
    padding: 4% 8% 0;
    position: relative;
}
footer ul span{
    color: #1c448e;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 1px;
    border-bottom: 4px solid #f00fa9;
    margin-bottom: 15px;
    display: inline-block;
    padding: 0;
}
footer li{
    list-style-type: none;
    padding: 5px 0;
}
footer li a{
    text-decoration: none !important;
    color: rgb(62, 62, 235);
    font-size: 16px;
    word-spacing: 2px;
    position: relative;
    transition: all .2s;
    padding-right: 5px;
}
footer li a:hover{
    font-weight: bold;
}
footer li a::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #f00fa9;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all .5s;
}
footer li a:hover::after{
    width: 100%;
}
footer .copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #f8fffff5;
    color: #888888;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
}
